.cover-container {
  width: 100%;
  height: 400px;
}
.artist-detail-section {
  background: #000000;
  box-shadow: 0px -13px 20px -16px rgba(0, 0, 0, 0.3);
  border-radius: 80px 80px 0px 0px;
  margin-top: -80px;
  position: relative;
  padding: 51px 7.8%;
  border-top: 2px solid #00ff47;
  color: white;
}
.dashboard-detail-section {
  background: #000000;
  color: white;

  box-shadow: 0px -13px 20px -16px rgb(0 0 0 / 30%);
  border-radius: 0;
  margin-top: 0;

  border-top: none;
}
.profile-description-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  /* color: #000000; */
  margin-bottom: 10px;
}
.profile-description-value {
  font-size: 15px;
  line-height: 22px;
  /* color: #5e6282; */
}
.artist-avatar-wratter {
}
.artist-avatar {
  height: 169px;
  width: 169px;
}
.artist-avatar img {
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgba(0, 0, 0, 0.08);
  background-color: transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(45deg, #f14d5d, #8d99ff);
}
.artist-update-button {
  position: absolute;
  right: 13px;
  top: 6px;
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid green;
  font-size: 16px;
  cursor: pointer;
}
.artist-detail-section-wrapper {
  position: relative;
  top: -130px;
}
.artist-detail-section-wrapper .artist-name {
  background-image: -webkit-linear-gradient(45deg, #7f30cb 2.88%, #01dcba 100%);
  background: linear-gradient(45deg, #01dcba 2.88%, #7f30cb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 33px;
  line-height: 50px;
  margin-top: 10px;
  text-align: center;
}
.artist-detail-section-wrapper .artist-address {
  background: white;
  border-radius: 12px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: #6e6e6e;
  padding: 0 4px;
  padding-top: 4px;
  margin: 0 10%;
  cursor: pointer;
}
.artist-detail-section-wrapper .eth-logo {
  height: 18px;
  width: 18px;
  float: left;
  background: #efdedf;
  border-radius: 50%;
  /* margin: 2px; */
}

.artist-detail-section-wrapper .follow-btn {
  margin: 0 10%;
  margin-top: 25px;
}
.profile-d-section {
  /* background: #ffffff; */
  box-shadow: 0px 100px 80px rgb(0 0 0 / 2%),
    0px 64.8148px 46.8519px rgb(0 0 0 / 2%),
    0px 38.5185px 25.4815px rgb(0 0 0 / 1%), 0px 20px 13px rgb(0 0 0 / 1%),
    0px 8.14815px 6.51852px rgb(0 0 0 / 1%),
    0px 1.85185px 3.14815px rgb(0 0 0 / 0%);
  border-radius: 30px 0px;
  border: 1px solid rgb(0, 255, 71);
  font-size: 14px;
  background: #1b1b1b;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.profile-d-section-top {
  padding: 20px;
  border-bottom: 0.5px solid rgb(0, 255, 71);
  margin: 0;
}
.profile-d-section-bottom {
  padding: 25px 30px;
  font-size: 14px;
  /* color: #000000; */
}
.profile-d-section-btn-wrapper {
  border: 1px solid rgba(4, 4, 5, 0.1);
  box-sizing: border-box;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.profile-d-section-top .img {
  height: 78px;
  width: 78px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-d-section-top .artist-name {
  background-image: -webkit-linear-gradient(45deg, #7f30cb 2.88%, #01dcba 100%);
  background: linear-gradient(45deg, #01dcba 2.88%, #7f30cb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 15px;
  line-height: 50px;
}
.tab-batch {
  background: #e6e6e6;
  border-radius: 4px;
  padding: 4px;
  margin-left: 10px;
}
.author-nav-tab {
  cursor: pointer;
  padding-bottom: 20px;
  margin: 0 20px;
}
.author-nav-tab-wrapper {
  display: flex;
  /* justify-content: center; */
  margin-left: 20%;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: rgba(4, 4, 5, 0.6);
}
.author-nav-tab-nav {
  background: linear-gradient(147.49deg, #8d99ff 13.96%, #f14d5d 88.04%);
  border-radius: 4px;
  color: white;
  padding: 4px;
  font-size: 13px;
  margin-left: 10px;
}
.profile-description-title {
  margin-top: 30px;
}

@media only screen and (max-width: 987px) {
  .cover-container {
    height: 250px;
  }
  .artist-avatar {
    height: 100px;
    width: 100px;
    margin-bottom: 30px;
  }
  .artist-avatar img {
    border: 1px solid rgba(0, 0, 0, 0.08);
  }
  .artist-detail-section-wrapper {
    top: -100px;
  }
  .artist-detail-section {
    border-radius: 40px 40px 0px 0px;
    padding: 51px 20px;
  }
  .profile-description-value {
    margin-bottom: 50px;
  }
  .profile-description-title {
    margin-top: 0;
  }
  .author-nav-tab-wrapper {
    margin-left: 0;
  }
  .trending-item {
    margin-bottom: 15px !important;
  }
}
